

<html>
<head>

</head>
<body style="background-color:  #AFEEEE;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
    margin: 12% auto;
    text-align: center;" #adding a cyan background="">

<h1>Hello World</h1>
<p>Welcome on Driss Bensaid websites, put any stackoverflow title on the form below and the poc-to-prod algorithm will try to predict it's label :D </p>
<form   method="POST">
    <input style= "width: 50%" name="Stackoverflow_post_title">
    <input type="submit" value="Predict!">
</form>
<p>Try something like: </p>
<p>ruby-on-rails </p>
<p>How using php in your everyday life will improve your mental health? </p>

<p>I don't think that i will be able to have time to use the real dataset this week to have some real prediction... However I'm happy that i succeded to go so far:D </p>
<span title="Mon dernier easter egg epf ;) ">
<h1>
C'etait un reel plaisir de faire ce dernier projet avec vous deux, passez une bonne année 2023, bonne continuation

</h1>
    <h2 style="color: yellow">
        0
    </h2>
    </span>

</body>
</html>
